body {
  background-color: #1c5d99;
  text-align: center;
  color: white;
  min-width: 350px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar #Current a {
  background-color: #fe7f2d;
  color: white;
  border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  padding: 10px;
}

.container div {
  font-size: 30px;
  text-align: center;
  max-height: 500px;
  width: auto;
}

.bandImage {
  margin: 10px;
  align-self: center;
  object-fit: cover;
  height: 328px;
  width: 328px;
  border-radius: 5px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}

@media screen and (max-width: 700px) {
  .bandImage img {
    max-height: 200px;
    width: auto;
    margin: 10px;
  }

  body h1 {
    font-size: 1em;
  }
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -700px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border-width: 3px;
  border-color: white;
  border-style: solid;
}

.prev:hover, .next:hover {
  background-color: rgba(254, 127, 45);
  color: white;
}

.prev {
  left: -50px;
}

.next {
  right: -50px;
}

main {
  margin: 20px;
}

.bandDescription {
  grid-column: span 2;
  margin: 10px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
}

.mySlides {
  display: none;
  animation: fade 0.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.navbar ul li a {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  transition: 0.6s ease;
}

.navbar li a:hover {
  background-color: #c57b57;
  color: white;
}

.formatsCss{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  max-width: 1000px;
  margin: auto;
}

.formatsCss div{
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.formatsImage img{
  border-width: 3px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
}

.formatsDescription{
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  max-width: 500px;
}

.storesCss{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  max-width: 700px;
  
}

.storesCss div{
  padding: 0px;
  text-align: center;
  margin: 10px;
}

.storesDescription{
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: white;
}

.storeImg2 img{
  max-height: 250px;
  width: auto;
  border-radius: 50%;  border-style: solid;
  border-width: 3px;
  border-color: white;
}

.storeImg1 img{
  border-radius: 50%;  border-style: solid;
  border-width: 3px;
  border-color: white;
}

button{
  background-color: #fe7f2d;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: white;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  width: 150px;
  height: 50px;
  transition: 0.6s ease;
}

button:hover{
  background-color: #c57b57;
}

.storesPageCss{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  max-width: 1000px;
  margin: auto;  
}

.storesPageCss div{
  padding: 0px;
  text-align: center;
  margin: 10px;
}

.artistsPageCss{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
}

.artistsPageCss div{
  max-height: 350px;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.artistsPageImage img{
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
}

.artistsPageDescription{
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  max-width: 500px;
}

.storesPageCss img{
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
}

.storePageDescription{
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: white;
}

hr{
  max-width: 1000px;
}

.formatsPageCss{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
  max-width: 1000px;
  margin: auto;
}

.formatsPageCss div{
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.formatsPageImage img{
  border-width: 3px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
}

.formatsPageDescription{
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  max-width: 500px;
}

.formatsPageContent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
}